<header class="my-auto px-14 py-7 bg-white">
  <script src="https://unpkg.com/phosphor-icons"></script>
  <nav class="">
    <style>
      .ph-house,
      .ph-scroll,
      .ph-folder,
      .ph-question,
      .ph-squares-four {
        font-size: 27px;
      }
    </style>
    <div class="flex align-middle justify-between border-sky-400">
      <div class="flex justify-around">
        <ul class="flex">
          <a href="./dashboard.html"
            ><li
              class="flex justify-center items-center px-2 {% if request.path == '/home/' %} text-[#6A5BD8] font-bold {% endif %}"
            >
              <i class="ph-bold ph-house mx-2"></i> Dashboard
            </li></a
          >

          <a href="{% url 'date-filter' %}"
            ><li
              class="flex justify-center items-center align-center px-2 {% if request.path == '/filter/' %} text-[#6A5BD8] font-bold {% endif %}"
            >
              <i class="ph-bold ph-scroll mx-2"></i> Activity
            </li></a
          >
          <a href="{% url 'transactions' %}"
            ><li class="flex justify-center items-center px-2">
              <i class="ph-bold ph-folder mx-2"></i> Transactions
            </li></a
          >
          <a href="{% url 'home' %}"
            ><li class="flex justify-center items-center px-2">
              <i class="ph-bold ph-question mx-2"></i> Help
            </li></a
          >
        </ul>
      </div>
      <div>
        <a href="{% url 'logout' %}"
          ><button
            class="bg-[#6A5BD8] text-white p-2 rounded-xl shadow-md px-4"
          >
            Log Out
          </button></a
        >
      </div>
    </div>
  </nav>
</header>
